@model Course
@{
    ViewData["Title"] = "AddNewCourse";
}

<br id="AddNewCourse" />

<h1>Add New Course</h1>

<hr />


<form action="/Course/SaveNewCourse/#AddNewCourse" method="post">
    <div>

        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>

    </div>

    <div>

        <label asp-for="Degree"></label>
        <input class="form-control" asp-for="Degree" />
        <span class="text-danger" asp-validation-for="Degree"></span>

    </div>


    <div>

        <label asp-for="MinDegree"></label>
        <input class="form-control" asp-for="MinDegree" />
        <span class="text-danger" asp-validation-for="MinDegree"></span>

    </div>

    <br />

    <input class="btn btn-primary" style="width:10%;" type="submit" value="Save" />
    <a href="/Course/Index/#Course" class="btn btn-primary" style="width:10%;">Back</a>

</form>


<script src="~/lib/jquery/dist/jquery.js"> </script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>