@model Course
@{
    ViewData["Title"] = "Edit";
}


<br id="EditCourse" />
<h1>Edit</h1>

<hr />

<form action="/Course/SaveEdit/@Model.Id/#EditCourse" method="post">

    <div>
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Degree"></label>
        <input class="form-control" asp-for="Degree" />
        <span asp-validation-for="Degree" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="MinDegree"></label>
        <input class="form-control" asp-for="MinDegree" />
        <span asp-validation-for="MinDegree" class="text-danger"></span>
    </div>


    <br />

    <input class="btn btn-primary" style="width:10%;" type="submit" value="Save" />
    <a href="/Course/Index/#Courses" class="btn btn-primary" style="width:10%;">Back</a>

</form>

