
@{
    ViewData["Title"] = "SaveDelete";
}

<br id="DeleteAlret" />

<h1 class="text-bg-danger">Grade Deleted successfully!</h1>

<br />

<a class="btn btn-primary" href="/CourseResult/Index/#CourseResult" style="width:15%">Go To Courses</a>