@model CourseResult
@{
    ViewData["Title"] = "Update";
}

<br id="Update"/>

<h1>Update Grade</h1>

<hr />


@* <form method="post" action="">

    <div>
        <label asp-for="CourseId"></label>
    </div>



</form> *@